langchain
langchain_openai
langchain_core
pinecone_client==2.2.2
openai
selenium
unstructured
unstructured[pdf]
apify-client
chromadb
tiktoken
playwright
beautifulsoup4
transformers
sentence_transformers
streamlit
tiktoken
PyPDF2
pysqlite3
streamlit-js-eval
sentence-transformers
langsmith
