langchain
langchain_openai
langchain_core
openai
selenium
unstructured
unstructured[pdf]
chromadb
tiktoken
playwright
beautifulsoup4
transformers
sentence_transformers
streamlit
tiktoken
PyPDF2
pysqlite3-binary
streamlit-js-eval
sentence-transformers
langsmith
