langchain
pinecone_client==2.2.2
openai
selenium
unstructured
unstructured[pdf]
apify-client
chromadb
tiktoken
playwright
beautifulsoup4
transformers
sentence_transformers
faiss-cpu
torch
streamlit
Flask
tiktoken
PyPDF2
pysqlite3
